#brand-logo {
    animation-name: rotate-infinity;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-infinity {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vl {
    border-right: 2px solid black;
    height: 100%;
}

#review-part hr,
#review-input-wrapper hr,
#home-page-intro-wrapper hr,
#address hr,
#timing hr,
#contact hr {
    background-color: black;
    height: 2px;
    width: 25%;
    text-align: center;
}

#address hr,
#timing hr {
    background-color: white;
}

#contact hr {
    width: 80%;
}

.bg-thick-blue {
    background-color: #1d2f41;
}

.navbar {
    background-color: #4b6274;
}

#home-page-intro-wrapper hr {
    width: 50%;
}

.navbar-nav hr {
    background-color: #ffffff;
    width: 50%;
    text-align: center;
}

#contact .modal-body a {
    text-decoration: none;
    color: inherit;
}

#contact .modal-body a:hover {
    color: blue;
}

#home-page-intro-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.intro {
    background-color: white;
    width: 50%;
    left: 100%;
    top: 50%;
    transform: translate(-120%, -50%);
}

#review-input-wrapper textarea {
    resize: none;
}

.checked {
    color: gold !important;
}

@media (max-width: 595px) {
    * {
        font-size: 10px !important;
    }
    .navbar-brand h3 {
        font-size: 16px !important;
    }
    .modal-header h3 {
        font-size: 16px !important;
    }
    .intro h3 {
        font-size: 14px !important;
    }
}